<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Evangeline Papanicola - Web Developer</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		min-width: 300px;
		font-kerning: none;
		text-size-adjust: 100%;
		text-rendering: optimizelegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-size: calc(100 / 390 * 1vw);
		@apply text-black;

		@screen md {
			font-size: calc(100 / 1920 * 1vw);
		}
	}

	body, html {
		height: 100%;
	}

	article,
	aside,
	figure,
	footer,
	header,
	hgroup,
	section {
		display: block;
	}

	:global(.container) {
		@apply px-[24rem] md:px-[56rem] w-full;
	}

	:global(.site-grid) {
		@apply grid grid-cols-4 gap-x-[12rem] md:grid-cols-12 md:gap-x-[24rem];
	}
</style>
